@section Estilos {
    <style>
        h1{
            text-align: center;
            color: #6AA037;
        }
        p{
            font-family: 'Quicksand';
            font-size: 20px;  
        }
        img{
            width: 12%;
            margin: 0 auto;
            
        }
        #contenedorGrupo{
            margin: 0 auto;
            text-align: center;
            vertical-align: middle;
        }
    </style>
}

<br>
<div id="contenedorGrupo">
    <h1> Fallo al procesar solicitud </h1>
    <p>Ha ocurrido un percance con su solicitud. 
        Favor de intentarlo de nuevo más tarde. 
        Si el error persiste, favor de cominucarse a través del formulario de contacto.
        Disculpe los inconvenientes. </p>
    <img src="~/images/perro-llora.png" alt="">
</div>