
@section Estilos {
    <style>
        h1{
            text-align: center;
            color: #6AA037;
        }
        p{
            font-family: 'Quicksand';
            font-size: 20px;  
        }
        img{
            width: 12%;
            margin: 0 auto;
            
        }
        #contenedorGrupo{
            margin: 0 auto;
            text-align: center;
            vertical-align: middle;
        }
    </style>
}
<br>
<div id="contenedorGrupo">
    <h1> Envío éxitoso </h1>
    <p>La solicitud ha sido envíada al administrador, espere a que confirmen su cuenta.</p>
    <img src="~/images/perro-saluda.png" alt="">
</div>

