
@section Estilos {
    <style>
        h1{
            text-align: center;
            color: #6AA037;
        }
        p{
            font-family: 'Quicksand';
            font-size: 20px;  
        }
        img{
            width: 12%;
            margin: 0 auto;
            
        }
        #contenedorGrupo{
            margin: 0 auto;
            text-align: center;
            vertical-align: middle;
        }
    </style>
}
<br>
<div id="contenedorGrupo">
    <h1> Confirmación de Cuenta </h1>
    <p>Se ha confirmado la cuenta del usuario, <span>X</span> exitosamente. Ya puede hacer uso de ella.</p>
    <img src="~/images/perro-sentado-rie.png" alt="">
</div>
